<script type="text/template" id="screen0-template">

	<div id="recent-calls">
		<h3>Recent calls</h3>
		<ul id="recent-calls-list"></ul>
	</div>
	
	<div id="input-phone-panel">
		<input type="text" maxlength="18"  id="input-phone-number" placeholder="Enter phone number"/>
	</div>
	
	<div class="number-button">1</div>
	<div class="number-button">2</div>
	<div class="number-button">3</div>
	<div class="number-button">4</div>
	<div class="number-button">5</div>
	<div class="number-button">6</div>
	<div class="number-button">7</div>
	<div class="number-button">8</div>
	<div class="number-button">9</div>
	<div class="number-button">*</div>
	<div class="number-button">0</div>
	<div class="number-button">#</div>

	<div id="call-button" class="call-button-inactive">Call now</div>
	
</script>